Source: python-falcon
Section: python
Priority: optional
Maintainer: PKG OpenStack <openstack-devel@lists.alioth.debian.org>
Uploaders: Thomas Goirand <zigo@debian.org>,
Build-Depends: cython,
               cython3,
               debhelper (>= 9),
               dh-python,
               lsb-release,
               openstack-pkg-tools (>= 52~),
               python-all,
               python-all-dev,
               python-ddt,
               python-mimeparse,
               python-nose,
               python-requests,
               python-setuptools,
               python-six,
               python-testtools,
               python-yaml,
               python3-all,
               python3-all-dev,
               python3-ddt,
               python3-mimeparse,
               python3-nose,
               python3-requests,
               python3-setuptools,
               python3-six,
               python3-testtools,
               python3-yaml,
Standards-Version: 3.9.8
Vcs-Browser: https://git.openstack.org/cgit/openstack/deb-python-falcon?h=debian%2Fnewton
Vcs-Git: https://git.openstack.org/openstack/deb-python-falcon -b debian/newton
Homepage: http://falconframework.org

Package: python-falcon
Architecture: any
Depends: python-mimeparse,
         python-six,
         ${misc:Depends},
         ${python:Depends},
         ${shlibs:Depends},
Recommends: ${python:Recommends},
Description: supersonic micro-framework for building cloud APIs - Python 2.x
 Falcon is a high-performance Python framework for building cloud APIs. It
 encourages the REST architectural style, and tries to do as little as possible
 while remaining highly effective.
 .
 Unlike other Python web frameworks, Falcon won't bottleneck your API's
 performance under highly concurrent workloads. Many frameworks max out at
 serving simple "hello world" requests at a few thousand req/sec, while Falcon
 can easily serve many more on the same hardware.
 .
 Falcon isn't very opinionated. In other words, the framework leaves a lot of
 decisions and implementation details to you.
 .
 Features:
  * Intuitive routing via URI templates and resource classes
  * Easy access to headers and bodies through request and response classes
  * Idiomatic HTTP error responses via a handy exception base class
  * DRY request processing using global, resource, and method hooks
  * Snappy unit testing through WSGI helpers and mocks
  * 20% speed boost when Cython is available
  * Python 2.6, Python 2.7, PyPy and Python 3.3 support
 .
 This package provides the Python 2.x module.

Package: python3-falcon
Architecture: any
Depends: python3-mimeparse,
         python3-six,
         ${misc:Depends},
         ${python3:Depends},
         ${shlibs:Depends},
Recommends: ${python3:Recommends},
Description: supersonic micro-framework for building cloud APIs - Python 3.x
 Falcon is a high-performance Python framework for building cloud APIs. It
 encourages the REST architectural style, and tries to do as little as possible
 while remaining highly effective.
 .
 Unlike other Python web frameworks, Falcon won't bottleneck your API's
 performance under highly concurrent workloads. Many frameworks max out at
 serving simple "hello world" requests at a few thousand req/sec, while Falcon
 can easily serve many more on the same hardware.
 .
 Falcon isn't very opinionated. In other words, the framework leaves a lot of
 decisions and implementation details to you.
 .
 Features:
  * Intuitive routing via URI templates and resource classes
  * Easy access to headers and bodies through request and response classes
  * Idiomatic HTTP error responses via a handy exception base class
  * DRY request processing using global, resource, and method hooks
  * Snappy unit testing through WSGI helpers and mocks
  * 20% speed boost when Cython is available
  * Python 2.6, Python 2.7, PyPy and Python 3.3 support
 .
 This package provides the Python 3.x module.
